.InfoBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.cardContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
